.pi-subagents
user-dirs.dirs
user-dirs.locale
mimeapps.list
mozilla/
bitacora/planes/
nextjs-nodejs/
oomox/
devin/
plans/
yay/
pamac/
htop/
pulse/
go/
systemd/
systemd/user/
opencode/
weztcode/
zen/
zed/
xfce4/xfconf/xfce-perchannel-xml/
runcat-text
